app.jwt.secret=Secret key for signing and verifying JWT tokens.
app.jwt.expiration-ms=The duration of the JWT token in milliseconds.
app.jwt.issuer=The identifier (issuer) of your application that creates JWT tokens.